body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Khmer OS Content", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.w-2 {
	width: 2%!important;
}
.w-4 {
	width: 4%!important;
}
.w-6 {
	width: 6%!important;
}
.w-10 {
	width: 10%!important;
}
.table th {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	vertical-align: middle;
}
.table td {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	vertical-align: middle;
}
.btn-min {
	min-width: 90px;
}
.select2 .select2-container .select2-container--bootstrap {
	width: 100%!important;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
	margin-top: 0.1rem;
}