body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Khmer OS Content", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit; 
}
input[type=number]{
	overflow: hidden;
	width: 70px;
}
#proContent {
	position: relative;
	height: 440px;
	overflow-y: auto;
}
.proItem {
	cursor: pointer;
}
.h-body {
	height: 410px;
	overflow-y: auto;
}
.layout-login{
	background-color: black;
}
.text-qty{
	max-width: 50px;
	border-radius: 40%;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
 }
.btn-circle.btn-lg {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 30px;
	line-height: 1.33;
	border-radius: 50px;
	font-weight: bold;
}
.f50 {
	font-size: 30px!important;
	font-weight: bold;
}
.dnone {
	display: none;
}
#text-welcome {
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 30px;
	font-weight: bold;
}
#timer {
	font-size: 20px;
}
.btnCategory {
	width: 100px;
}